@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  background: rgb(229 231 235);
  font-family: Arial, Helvetica, sans-serif;
}

.card-image {
  max-height: 100%;
	max-width: 100%;
	width:150px;
	height:150px;
	background-size: cover;
  background-color: transparent !important;
  opacity: 0.5
}